{% extends "!layout.html" %}
  {% block footer %} {{ super() }}

  <style>
    /* Sidebar header (and topbar for mobile) */
    a {
    color: #071159;
    border-bottom: 1px dotted;
    }
    a:hover {
    border-bottom: 2px solid;
    }
    .wy-side-nav-search, .wy-nav-top {
       background: #e4e4e4;
    }
    .wy-side-nav-search > a {
    color: #404040;
    border-bottom: 0;
    }
    /* Sidebar */
    .wy-menu-vertical header, .wy-menu-vertical p.caption {
      color: #b3b3b3;
    }
    .wy-nav-side {
      background: #071159;
    }
    .wy-menu-vertical a {
    color: #eee;
    border-bottom: 0;
    }
    .wy-menu-vertical a:active {
     background-color: #e3e6fd;
     cursor: pointer;
     color: #fff;
    }
    .fa-plus-square-o::before, .wy-menu-vertical li span.toctree-expand::before {
    color: #b3b3b3;
    }
  </style>
{% endblock %}
